---
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
InsertNewlineAtEOF: true
RemoveSemicolon: true
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
# SpaceBeforeParens: Never
# AllowShortFunctionsOnASingleLine: false
